<h1>Planned Events</h1>

<ul>
  <%= @events.each do |event|%>
    <li>
      <%= event.name %>
    </li>
  <% end%>
</ul>

<%= button_to "Log Out", destroy_user_session_path, method: :delete  %>
<%= button_to "Log In", user_session_path %>
